body{
    background-color: #A9F5E1;
}

.izq{
    border: 1px solid #FFFD7C;
    margin-left: 0px;
    background-color: #70D3FF;
    width: 40%;
    height:40px;
    border-radius: 12px;
}

.dere {
    border: 1px solid #FFFD7C;
    margin-left: 400px;
    height: 40px;
    background-color: #4FFF8A;
    width: 40%;
    position: relative;
    border-radius: 12px;
}

.mensaje{
    margin-left: 10px;
    margin-top: 3px;
}

#chat{
    border: 1px solid #5C66FF;
    border-radius: 12px;
}

#mensaje_nuevo{
    display: none;
    margin-left: 10px;
    margin-top: 3px;
    border: 1px solid #FFFD7C;
    margin-left: 400px;
    height: 40px;
    background-color: #4FFF8A;
    width: 40%;
    position: relative;
    border-radius: 12px;
}