<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% include "chat/header.html" %}
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
           
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <!--
       
        <!-- /.row -->

        <!-- Projects Row -->
        {% block conver %} {% endblock conver %}

        {% block index %} {% endblock index %}
    
        {% block perfil %} {% endblock perfil %}

        {% block no_existe %}{% endblock no_existe %}

       

        <!-- Projects Row -->
        <!-- <center>
            <div class="row">
                <div class="col-lg-12" id="mapa">
                    <div id="map"></div> 
                </div>
            </div>
        </center>
        <!-- Projects Row -->
        <!-- /.row 


        <hr>
        <hr>
         -->
        <!-- Footer -->
        </br></br></br></br>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Chat Wayook 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
   
    <!-- /.container -->

    <script src="{% static 'js/jquery.js'  %}"   type="text/javascript"></script>
    <script src="{% static 'js/library.js' %}"   type="text/javascript"></script>
    <script src="{% static 'js/main.js' %}"      type="text/javascript"></script>


</body>

</html>
