{% extends 'chat/base.html' %}

{% block title %}Conversacion{% endblock title %}

{% block conver %}
{% load staticfiles %}

<div class="row">
	</br></br>
    <div class="col-lg-12">
        <h1 class="page-header">Conversación con {{ destinatario }}</h1>
    </div>
</div>
<div class="row">
	<div class="col-lg-8" id="chat">
        <div id="mensajes"></br>
            {% for mensaje in mensajes %}
                {% if mensaje.autor.username == destinatario %}
                    <div class="izq"><p class="mensaje">{{ mensaje.mensaje }}</p></div></br>
                {% else %}
                    <div class="dere"><p class="mensaje">{{ mensaje.mensaje }}</p></div></br>
                {% endif %}
            {% endfor %}
            <div id="mensaje_nuevo" class="dere"></div>
            </br>
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="3" id="mensaje" value=""></textarea></br>
            <input type="hidden" value="{{ autor }}" id="autor">
            <input type="hidden" value="{{ destinatario }}" id="destinatario">
            <input type="hidden" value="{{ conver_id }}" id="conver_id">
            <button type="button" class="btn btn-lg btn-primary" id="enviar">Enviar</button>
        </div>
        <button type="button" class="btn btn-danger" id="limpiar_conver">Limpiar conversacion</button>
        </br></br>
    </div>
</div>
{% endblock conver %}
