{% extends 'chat/base.html' %}

{% block title %}Index{% endblock title %}

{% block index %}
<div class="row">
	</br></br>
    <div class="col-lg-12">
        <h1 class="page-header">TODOS LOS USUARIOS</h1>
    </div>
</div>
<div class="row">
	<div class="col-lg-1"></div>
	<div class="col-lg-10">
		{% for i in users %}
	    	<h3><a href="{% url 'perfil' i.username %}"  >{{ i.username }}</a></br></h3>
	    {% endfor %}
	</div>
</div>
{% endblock index %}
