{% extends 'chat/base.html' %}

{% block title %}Perfil no existe{% endblock title %}

{% block no_existe %}
<div class="row">
	</br></br>
    <div class="col-lg-12">
        <h1 class="page-header">{{ error }}
            <small></small>
        </h1>
    </div>
   
</div>
{% endblock no_existe %}
