{% extends 'chat/base.html' %}

{% block title %}Perfil{% endblock title %}

{% block perfil %}
<div class="row">
	</br></br>
    <div class="col-lg-12">
        <h1 class="page-header">Chat de {{ user }} </h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Conversaciones abiertas
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Usuarios</th>
                                <th>Eliminar conversación</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in conversaciones %}
                                <tr>
                                    <td><a href="{% url 'conver' user i.conversacion %}">{{ i.destinatario }}</a></br></td>
                                    <td>
                                        <form method="POST" action="/{{ user }}/">
                                            <input type="hidden" value="{{ i.conversacion }}" name="id_conver">
                                            <input type="submit" class="btn btn-danger" value="Eliminar conversación"></input>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Puedes abrir una conversación con...
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Usuarios</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in no_hablo %}
                                <tr>
                                    <td><a href="{% url 'crear_conver' user i %}"  >{{ i }}</a></br></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock perfil %}
